<h1 *ngIf="show; else elseBlock">{{ title }}</h1>
<ng-template #elseBlock>
  <h1>Counter</h1>
</ng-template>
<div>
  <button (click)="counter('minus')">--</button>
  <p>Count:{{ count }}</p>
  <button (click)="counter('add')">++</button>
  
</div>
<!-- <div [ngSwitch]="color">
  <h1 *ngSwitchCase="green" style="color: green">Counter</h1>
  <h1 *ngSwitchCase="red" style="color: red">Counter</h1>
  <h1 *ngSwitchCase="green" style="color: red">Counter</h1>
  <h1 *ngSwitchDefault>aUN Counter</h1>
</div> -->

<div>
    <h1
    *ngFor="let item of users"
    >
        {{item}}
    </h1>

    <h1 *ngFor="let item of userDetails">
         {{item.name}}
            {{item.age}}
    </h1>
</div>
